/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Form Container */
form {
    background-color: #ffffff;
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Fieldset Styling */
fieldset {
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Legend Styling */
legend {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

label {
    font-size: 1em;
    margin-bottom: 10px;
    display: block;
    color: #333;
}

input[type="text"], input[type="tel"], input[type="password"], input[type="email"], input[type="date"], textarea, select, input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    background-color: #f9f9f9;
}

input[type="radio"] {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    width: 100%;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Links */
a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.1em;
    text-align: center;
    display: block;
    margin-top: 15px;
}

a:hover {
    color: #0056b3;
}

/* Marquee Styling */
marquee {
    font-size: 1.1em;
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: #d9534f;
}

center {
    display: block;
    margin-top: 20px;
}
